// @import "_reset";
// @import "_variables";

body {
  background-color: red;
  display: flex;
  place-content: center center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 30px;
  height: 100vh;
}

img {
  width: 100px;
}